<web-app>
<servlet>
<servlet-name>UserProcess</servlet-name>
<servlet-class>UserProcess</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UserProcess</servlet-name>
<url-pattern>/up</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>RegisterUser</servlet-name>
<servlet-class>RegisterUser</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RegisterUser</servlet-name>
<url-pattern>/ru</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>ShowUser</servlet-name>
<servlet-class>ShowUser</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ShowUser</servlet-name>
<url-pattern>/su</url-pattern>
</servlet-mapping>
</web-app>