<web-app>
<servlet>
<servlet-name>ContextAttribute1</servlet-name>
<servlet-class>ContextAttribute1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ContextAttribute1</servlet-name>
<url-pattern>/s1</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>ContextAttribute2</servlet-name>
<servlet-class>ContextAttribute2</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ContextAttribute2</servlet-name>
<url-pattern>/s2</url-pattern>
</servlet-mapping>
</web-app>